[Unit]
Description=Servicio de Captura Fotografica Autonoma SIFMA (Raspberry Pi 5)
After=local-fs.target time-sync.target
Wants=local-fs.target

[Service]
Type=simple
User=computo1
WorkingDirectory=/home/computo1/raspi_node
ExecStart=/usr/bin/python3 /home/computo1/raspi_node/main_capture.py --boot-delay 300 --interval 300
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
